:root {
  --main-fish: rgb(228 145 94);
  --main-transition: rgb(177 181 92);
  --animation-duration-start: 1s;
  --main-background: rgb(229 229 227);
  --main-gray: #c2c3be;
  --main-text: #515150;
}

@font-face {
  font-family: 'CustomFont';
  src: url('https://fonts.cdnfonts.com/css/junegull');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.cdnfonts.com/css/montserrat');
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 1199px) {
  .main-picture1 {
    height: auto;
    min-height: 400px;
  }

  .sign-in {
    max-width: 90%;
    margin-top: 20px;
  }

  .container_main {
    width: 90%;
    height: auto;
    min-height: 400px;
    margin-top: 20px;
  }
}

body {
  margin: 0;
}

.main-picture1 {
  min-width: 900px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 900px;
  background: url('./images/main.png') rgba(0, 0, 0, 0.1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  max-height: 1200px;
  position: relative;
  overflow: hidden;
  color: white;
}

.Header-background {
  margin-top: 0;
}

.sign-in {
  max-width: 400px;
  font-family: 'Montserrat', sans-serif;
  color: var(--main-text);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: var(--main-background);
  margin-top: 50px;
}

.sign-in h2 {
  font-family: 'Junegull', sans-serif;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  position: center;
}

.sign-in form {
  display: flex;
  flex-direction: column;
}

.sign-in form div {
  border-radius: 25px;
  margin-bottom: 10px;
}

.sign-in label {
  font-weight: bold;
  margin-bottom: 5px;
}

.sign-in input[type="text"],
.sign-in input[type="email"],
.sign-in input[type="password"],
.sign-in input[type="number"] {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  border-radius: 25px;
  border: 1px solid #ccc;
  width: calc(100% - 18px);
  border: none;
}

.left-menu li a {
  color: white;
  text-decoration: none;
}

.left-menu li a:hover {
  color: var(--main-transition);
}

.container_main {
  width: 60%;
  max-width: 1200px;
  min-width: 900px;
  margin-bottom: 50px;
  height: 600px;
  margin-top: 0;
}

.sign-in button {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  width: 170px;
  margin-top: 50px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--main-fish);
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-in button:hover {
  background-color: var(--main-transition);
}

footer {
  background-color: var(--main-background);
  padding: 20px 0;
  color: #333;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  min-width: 900px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  min-width: 900px;
  
  
}

.contact-info,
.social-links {
  margin-top: 20px; /* Збільшуємо відступ між блоками у футері */
}

footer {
  padding-top: 20px; /* Збільшуємо відступ у верхній частині футера */
}


.contact-info h3,
.social-links h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.contact-info p,
.social-links ul {
  list-style: none;
  padding-left: 0;
}

.social-links ul li {
  margin-bottom: 8px;
}

.social-links ul p a {
  text-decoration: none;
  color: #333;
}

.social-links ul p a:hover {
  color: var(--main-transition);
}

.copyright {
  margin-top: 20px;
}