:root {
    --main-fish: rgb(228 145 94);
    --main-transition: rgb(177 181 92);
    --animation-duration-start: 1s;
    --main-background: rgb(229 229 227);
    --main-gray: #c2c3be;
    --main-text: #515150;
}

@font-face {
    font-family: 'CustomFont';
    src: url('https://fonts.cdnfonts.com/css/junegull');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/montserrat');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (max-width: 1199px) {
    #image1 {
        display: none;
    }
}

body {
    margin: 0
}

.container {
    min-width: 900px;
    margin: auto;

    background-color: rgb(229 229 227);
}

.back_recipes {
    min-width: 900px;


    width: 100%;
    height: 5000px;
    position: relative;
    overflow: hidden;
    background: url('./images/advices-back.png') rgba(0, 0, 0, 0.09);

    background-blend-mode: multiply;

    color: white;
    box-sizing: border-box;
    display: flex;

    color: white;
}

.Recipes_title {

    text-align: center;
    margin-top: 50px;
    font-family: 'Junegull', sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: var(--main-fish);
    text-shadow: 0px 0px 16px rgba(255, 255, 255, 1);
    animation: title-appears var(--animation-duration-start);

}

.GridRecipes {
    margin-top: 5%;
    display: flex;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 6fr);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.GridRecipes .grid-item {
    width: calc(25% - 15px);
    margin-bottom: 30px;
    overflow: hidden;
    transition: transform 0.3s ease, z-index 0.3s ease;
    z-index: 1;
    aspect-ratio: 1/1.7;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    -webkit-box-shadow: 10px 10px 19px -8px rgba(214, 214, 214, 1);
    -moz-box-shadow: 10px 10px 19px -8px rgba(214, 214, 214, 1);
    box-shadow: 10px 10px 19px -8px rgb(76, 76, 76);
    cursor: pointer;
}

.GridRecipes .grid-item:hover {

    transform: scale(1.1);
    z-index: 2;

}

.GridRecipes .img {
    background-position: center;
    background-size: cover;
    height: 50%;
    width: 100%;
    border-radius: 20px;
}

.GridRecipes .headersmall {
    color: var(--main-text);
    font-size: 20px;
    margin-top: 10%;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif, bold;
    margin-bottom: 10px;
}

.GridRecipes .textsmall {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-text);
    font-size: 0.9em;
}

.buttton {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.25s;
    display: inline-block;
    display: flex;
    border: none;
    margin: auto;
    width: 70px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    text-decoration: none;
    
}
.buttton a{
    text-decoration: none;
    
}
.buttton:hover {
    background-color: var(--main-transition);
}

.AddYourRecipe{
    color: var(--main-text);
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2%;

}

.try {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.25s;
    display: inline-block;
    display: flex;
    border: none;
    margin: auto;
    width: 100px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    text-decoration: none;
    
}
.try a{
    text-decoration: none;
    
}
.try:hover {
    background-color: var(--main-transition);
}