:root {
  --main-fish: rgb(228 145 94);
  --main-transition: rgb(177 181 92);
  --animation-duration-start: 1s;
  --main-background: rgb(229 229 227);
  --main-gray:#c2c3be;
  --main-text: #515150;
}

@font-face {
  font-family: 'CustomFont';
  src: url('https://fonts.cdnfonts.com/css/junegull');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.cdnfonts.com/css/montserrat');
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 1199px) {
  #image1 {
      display: none;
  }}
body {
  margin: 0
}

.container {
  min-width: 900px;
  margin: auto;

  background-color: rgb(229 229 227);
}

.main-picture {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 600px;
  background: url('./images/main.png') rgba(0, 0, 0, 0.1);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;

  position: relative;
  overflow: hidden;

  color: white;
}

.container_main {
  width: 60%;
  max-width: 1200px;
  min-width: 900px;
  margin: auto;
  margin-bottom: 50px;
  height: 600px;
  
}


.container_main>div:nth-child(2) {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 80%;

  box-sizing: border-box;
  padding: 10px;

  display: flex;
  flex-direction: column;

  justify-content: center;
}

.title {
  font-family: 'Junegull', sans-serif;
  font-weight: bold;
  font-size: 3.8em;
  font-weight: bolder;
  color: rgb(230 161 119);
  text-shadow: 0px 0px 16px rgba(255, 255, 255, 1);
  animation: title-appears var(--animation-duration-start);
  display: flex;
}

@keyframes title-appears {
  0% {
    opacity: 0.5;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.description {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin: 10px 0;
  animation: title-appears var(--animation-duration-start);
}

@keyframes title-appears {
  0% {
    opacity: 0.5;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.inputs {
  width: 27%;
  display: flex;
  align-items: center;

  >input:focus-visible {
    outline: none;
  }

  >input {
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 15px;
    border-radius: 20px;
    flex-grow: 3;
    margin-right: 4%;
    animation: title-appears var(--animation-duration-start);
  }

  @keyframes title-appears {
    0% {
      opacity: 0.5;
      transform: translateX(-100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


  >button {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.25s;
    display: inline-block;
    display: flex;

  }

  animation: title-appears var(--animation-duration-start);
}

@keyframes title-appears {
  0% {
    opacity: 0.5;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.button:hover {
  transition: 0.25s;
  color: var(--main-transition);
}

header {
  display: flex;
  justify-content: space-between;
}

.left-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  animation: left-menu-appears var(--animation-duration-start);}

  @keyframes left-menu-appears {
    0% {
      opacity: 0.5;
      transform: translateX(-100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }



.left-menu li {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 15px;
  cursor: pointer;
  transition: 0.25s;
  display: flex;
  display: inline-block;
}

.right-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  animation: right-menu-appears var(--animation-duration-start);}

  @keyframes right-menu-appears {
    0% {
      opacity: 0.5;
      transform: translateX(100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .right-menu li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 15px;
    cursor: pointer;
    transition: color 0.25s; 
  }
  
  .right-menu li a {
    color: white; 
    text-decoration: none; 
  }
  
  .right-menu li a:hover {
    color: var(--main-transition);
  }
.left-menu li:hover,
.right-menu li:hover {
  color: var(--main-transition);
}
.container_why_us{
  width: 60%;
  max-width: 1200px;
  min-width: 900px;
  margin: auto;
  margin-bottom: 50px;
  height: 600px;
  
}

.title2 {
  font-size: 40px;
  color: #c2c3be;
  margin-top: 70px;
  margin-bottom: 4vw;
  text-align: center;
  font-family: 'Junegull', sans-serif;
 }

 .grid.section-2 {
  display: flex;
  grid-template-rows: auto;
  grid-template-columns: repeat(3,1fr);
  column-gap: 30px;
 }

 .section-2.grid .grid-item {
  width: 100%;
  overflow: hidden; 
  transition: transform 0.3s ease, z-index 0.3s ease; 
  z-index: 1; 
  aspect-ratio: 1/1.5;
  padding: 40px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: white;
  -webkit-box-shadow: 10px 10px 19px -8px rgba(214,214,214,1);
  -moz-box-shadow: 10px 10px 19px -8px rgba(214,214,214,1);
  box-shadow: 10px 10px 19px -8px rgb(76, 76, 76);
  cursor: pointer;
 }
 .section-2.grid .grid-item:hover {
  
  transform: scale(1.1); 
  z-index: 2; 
  
}

 .img {
  background: url('./images/exotic.jpg');
  background-position: center;
  background-size: cover;
  height: 50%;
  width: 100%;
  border-radius: 20px;
 }
 .img2 {
  background: url('./images/video.jpg');
  background-position: center;
  background-size: cover;
  height: 50%;
  width: 100%;
  border-radius: 20px;
 }
 .img3 {
  background: url('./images/steps.jpg');
  background-position: center;
  background-size: cover;
  height: 50%;
  width: 100%;
  border-radius: 20px;
 }


 .headersmall{
  color: var(--main-text);
  font-size: 25px;
  margin-top: 10%;
  font-weight: bold;
  text-align: center;
  font-family: 'Montserrat', sans-serif, bold;
  margin-bottom: 20px;
 }

 .textsmall{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: var(--main-text);
 }

 .ChangingPicture{
  width: 100%;
 
  min-width: 900px;
  margin: auto;
 
  height: 900px;
  background-color: var(--main-gray);
  
}
.title3 {
  padding-top: 5vw;
  font-size: 40px;
  color: var(--main-background);
  
  margin-bottom: 4vw;
  text-align: center;
  font-family: 'Junegull', sans-serif;
 }
 .containerChanging{
  width: 60%;
  max-width: 1200px;
  min-width: 900px;
  margin: auto;
  display: flex;
  height: 900px;
  
}
.slider{
  width: 45%;
  height: 50%;
  display: flex;
  margin-right: 2%;
  border-radius: 20px;
  
    margin: auto;
    
    text-align: justify;
    box-sizing: border-box;

    position: relative;
    
    justify-content: space-between;
    align-items: center;
}
.slider-item0{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  
  background: url('./images/d7307596991754fa6a6d299e24071e16.jpg');
  background-position: center;
  background-size: cover;
  z-index: 1;

  position: relative;
  
  
}
.slider-item {
  margin-top: 95px;
  height: 80%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  position: center;
  display: flex;
 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
 
  opacity: 0;
  transition: 0.25s;
 }
 
 .selected {
  z-index: 2;
  opacity: 1;
 }
.text-container{
  float: right;
    z-index: 1;
    display: flex;
    background-color: var(--main-background);
    border-radius: 25px;
    width: 49%;
    height: 50%;
    position: relative;
    flex-direction: column;
    justify-content: center;

    >button {
      width: 80px;
      font-family: 'Montserrat', sans-serif;
      background-color: black;
      padding: 15px;
      color: white;
      text-transform: uppercase;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.25s;
      margin-left: auto;
      margin-right: 40px;
      
      float: right;
    
    }
  
}
.title-recipe {
  font-family: 'Junegull', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 16px;
  margin-left: 40px;
  margin-right: 40px;
  color: var(--main-fish);
}
.ingredients {
  margin-right: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin-left: 40px;
  margin-bottom: 23px;
  color: var(--main-text);
 }
.text-container li{
  margin-right: 40px;
  list-style: disc;
  margin-left: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  margin-left: 40px;
  color: var(--main-text);
  
}
.small-description {
  margin-right: 40px;
  color: var(--main-text);
  margin-top: 23px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin-left: 40px;
  margin-bottom: 15px;
 }

 